

.content {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25%;
    padding: 20px;
}

    .content textarea {
        width: 300px;
        height: 300px;
    }

.form {
    margin-top: 20px;
}

    .form textarea {
        width: 100%;
    }

.form-label {
    font-weight: bold;
}

.form-input {
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button:first-child {
    background-color: aqua;
}

.form-button {
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
    margin: 50px;
    width: 30%;
    left: 250px;
}

.accept-btn {
    background-color: #a0c965; /* Soft green color */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

    .accept-btn:hover {
        background-color: #c5e1a5;
    }

.command-form {
    display: flex;
    flex-direction: column;
}

.btn-form {
    display: flex;
}
